absl-py==0.8.1
apispec==3.0.0
asn1crypto==0.24.0
astor==0.8.0
astroid==2.3.2
astropy==3.2.3
atomicwrites==1.3.0
attrs==19.1.0
Authlib==0.11
backcall==0.1.0
bleach==3.1.0
cachetools==3.1.1
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
classifiers==2019.4.13
Click==7.0
cloudpickle==1.2.1
colorama==0.4.1
colours==0.3
confuse==1.0.0
convertdate==2.2.0
coverage==4.5.4
cryptography==2.7
curses-menu==0.5.0
cycler==0.10.0
Cython==0.29.14
decorator==4.4.0
defusedxml==0.6.0
entrypoints==0.3
Flask==1.1.1
Flask-CLI==0.4.0
Flask-Github==0.1.3
Flask-Login==0.4.1
flask-rest-api==0.17.1
Flask-SQLAlchemy==2.4.0
future==0.17.1
gast==0.2.2
GitHub-Flask==3.2.0
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
graphviz==0.11.1
grpcio==1.25.0
gym==0.14.0
-e git+https://github.com/grantsrb/Gym-Snake@07e96ee3908fb87551c39988f52d93740935e4cd#egg=gym_snake
h5py==2.9.0
holidays==0.9.11
htmlmin==0.1.12
httplib2==0.12.3
hyperas==0.4.1
hyperopt==0.2.2
idna==2.8
imageio==2.5.0
imbalanced-learn==0.5.0
imblearn==0.0
importlib-metadata==0.23
ipykernel==5.1.1
ipython==7.7.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.14.1
Jinja2==2.10.1
joblib==0.13.2
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
knnimpute==0.1.0
lazy-object-proxy==1.4.3
llvmlite==0.30.0
lunardate==0.2.0
lxml==4.4.1
Markdown==3.1.1
MarkupSafe==1.1.1
marshmallow==3.2.1
matplotlib==3.0.3
mccabe==0.6.1
missingno==0.4.2
mistune==0.8.4
more-itertools==7.2.0
mysql==0.0.2
mysql-connector==2.2.9
mysql-connector-python==8.0.16
mysqlclient==1.4.2.post1
nbconvert==5.5.0
nbformat==4.4.0
neat==0.4.1
neat-python==0.92
networkx==2.2
nltk==3.4.5
notebook==6.0.0
numba==0.46.0
numpy==1.16.2
oauth2==1.9.0.post1
oauthlib==3.1.0
opencv-contrib-python==4.1.0.25
opt-einsum==3.1.0
osqp==0.6.1
packaging==19.2
pandas==0.25.1
pandas-profiling==2.3.0
pandocfilters==1.4.2
parso==0.5.1
patsy==0.5.1
phik==0.9.8
pickleshare==0.7.5
Pillow==8.1.1
pluggy==0.13.0
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.7.1
psycopg2==2.8.4
public==2019.4.13
py==1.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycparser==2.19
pygame==1.9.6
pyglet==1.3.2
Pygments==2.4.2
pylint==2.4.3
PyMeeus==0.3.6
PyMySQL==0.9.3
pyparsing==2.4.0
pyrsistent==0.15.4
pystan==2.19.1.1
pytest==5.2.2
pytest-pylint==0.14.1
python-dateutil==2.8.0
pytils==0.3
pytz==2019.3
PyWavelets==1.0.3
pywinpty==0.5.5
PyYAML==5.1.2
pyzmq==18.0.2
qtconsole==4.5.2
requests==2.21.0
requests-oauthlib==1.2.0
rsa==4.0
runipy==0.1.5
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.2.1
seaborn==0.9.0
Send2Trash==1.5.0
setuptools-git==1.2
six==1.12.0
snake-gym==1.7
SQLAlchemy==1.3.3
statsmodels==0.10.1
tensorboard==2.0.1
tensorflow==2.0.0
tensorflow-estimator==2.0.1
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tflearn==0.3.2
tools==0.1.9
torch==1.2.0+cu92
torchvision==0.4.0+cu92
tornado==6.0.3
tqdm==4.35.0
traitlets==4.3.2
translation==1.0.5
typed-ast==1.4.0
uritemplate==3.0.0
urllib3==1.24.3
virtualenv==16.6.0
wcwidth==0.1.7
webargs==5.5.2
webencodings==0.5.1
WebOb==1.8.5
Werkzeug==0.15.2
widgetsnbextension==3.5.1
windows-curses==2.0
wrapt==1.11.2
zipp==0.6.0
